<nav class="navbar navbar-expand-lg header justify-content-between box-shadow">
    <a class="navbar-brand ml-30" href="#">
        <img src="/assets/images/logo.png" class="width-80 rounded">
    </a>
    <div>
        <button class="navbar-toggler mr-30 bg-white" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- In PC view -->
        <div class="collapse navbar-collapse mr-30" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-right-wrap">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-10">
                        <div class="mr-2 d-flex align-items-center gap-10">
                            @if(isLoggedUser){
                                <mat-icon (click)="logoutUser()" class="text-white pointer">exit_to_app</mat-icon>
                            } @else {
                            <button mat-raised-button color="white" [routerLink]="['/']">Login</button>
                            <button mat-raised-button color="white" [routerLink]="['/signup']">Signup</button>
                            }
                        </div>
                        <img src="../../../assets/images/avatar.jpg" class="width-45 rounded">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- In Mobile View -->
<div id="sidebar" class="sidebar bg-dark position-fixed top-0 right-0 h-100 p-20">
    <div>
        <mat-icon class="fw-bold text-white">close</mat-icon>
    </div>
    <ul class="navbar-nav mt-30 gap-20">
        @if(isLoggedUser){
        <li class="nav-item bg-white text-white p-10" (click)="logoutUser()">
            <a class="nav-link p-10 text-dark">Logout</a>
        </li>
        } @else {
        <li class="nav-item bg-white text-white p-10" [routerLink]="['/']">
            <a class="nav-link p-10 text-dark">Login</a>
        </li>
        <li class="nav-item bg-white text-white p-10" [routerLink]="['/signup']">
            <a class="nav-link p-10 text-dark">Signup</a>
        </li>
        }
    </ul>
</div>