<h2 mat-dialog-title class="d-flex justify-content-center align-items-center mt-10"> Task Form</h2>
<mat-dialog-content>
    <form class="w-80 p-10" [formGroup]="taskForm">
        <!-- Title -->
        <mat-form-field class="form-field w-100 mt-10" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title">
            @if (
            hasError('title','required')
            ) {
            <mat-error>Title is required!</mat-error>
            }
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="form-field w-100 mt-10" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter Description" formControlName="description">
            @if (
            hasError('description','required')
            ) {
            <mat-error>Description is required!</mat-error>
            }
        </mat-form-field>

        <!-- Status -->
        <mat-form-field class="form-field w-100 mt-10" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select matInput placeholder="Enter Status" formControlName="status">
                <mat-option value="Todo">To Do <mat-icon color="primary">list</mat-icon></mat-option>
                <mat-option value="Inprogress">In Progress <mat-icon
                        class="text-warning">hourglass_empty</mat-icon></mat-option>
                <mat-option value="Done">Done <mat-icon class="text-success">check_circle</mat-icon></mat-option>
            </mat-select>
            @if (
            hasError('description','required')
            ) {
            <mat-error>Status is required!</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="white" (click)="cancelAddTask()">Cancel</button>
    <button mat-raised-button class="bg-primary-wrap text-white" (click)="saveOrUpdateTask()">Save</button>
</mat-dialog-actions>