<div class="d-flex align-items-center justify-content-center justify-content-lg-start  auth-wrap flex-column">
    <h1 class="mb-10 text-white">Sign In</h1>
    <mat-card class="w-50 card">
        <mat-card-content>
            <form class="w-100 gap-10 p-10 d-flex justify-content-center align-items-center flex-column"
                [formGroup]="loginForm">
                <!-- Email -->
                <mat-form-field class="form-field w-75 mt-10" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email">
                    @if (
                    hasError('email','required')
                    ) {
                    <mat-error>
                        <mat-icon class="error-icon">error</mat-icon>
                        Email is required</mat-error>
                    }
                    @else if (
                    hasError('email','email')
                    ) {
                    <mat-error>
                        <mat-icon class="error-icon">error</mat-icon>Please enter an valid email</mat-error>
                    }
                </mat-form-field>

                <!-- password -->
                <mat-form-field class="form-field w-75 mt-10" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter Password" formControlName="password">
                    @if (
                    hasError('password','required')
                    ) {
                    <mat-error>
                        <mat-icon class="error-icon">error</mat-icon>
                        Password is required</mat-error>
                    }
                    @else if (
                    hasError('password','pattern')
                    ) {
                    <mat-error>
                        <mat-icon class="error-icon">error</mat-icon>
                        Password should be At least 8 characters in length,Lowercase letters,Uppercase letters,
                        Numbers and Special characters
                    </mat-error>
                    }
                </mat-form-field>
                <div class="w-75 mt-10 d-flex justify-content-end button-wrap">
                    <button mat-raised-button class="btn text-white" (click)="save()">Save</button>
                </div>
            </form>
            <p class="text-center">New User ? <a href="#" [routerLink]="['/signup']">Create User</a></p>
        </mat-card-content>
    </mat-card>
</div>