<div class="container mb-20">
    <h1 class="text-white text-center">Task Management System</h1>
    <button mat-raised-button color="white" (click)="openaddTaskDialog()" class="m-10">Add Task</button>
    <mat-form-field class="w-100">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searchTask($event)" #input>
    </mat-form-field>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc">
            <!-- title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">
                    @if(element.status === 'Todo'){
                    <mat-icon color="primary">list</mat-icon>
                    }
                    @else if(element.status === 'Inprogress'){
                    <mat-icon class="text-warning">hourglass_empty</mat-icon>
                    } @else{
                    <mat-icon class="text-success">check_circle</mat-icon>
                    }
                </td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="mr-5 pointer text-primary-wrap"
                        (click)="openaddTaskDialog(element._id)">edit</mat-icon>
                    <mat-icon class="mr-5 pointer" color="warn"
                        (click)="openDeleteTaskDialog(element._id)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No task found</td>
            </tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks"></mat-paginator>
</div>