/* Ensure the card is responsive */
.card {
    position: relative;
    overflow: auto;
}

.auth-wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;

    .button-wrap {
        .btn {
            background-color: var(--darkBlue);
        }
    }
}

/* Adjust the form fields and card content on small screens */
@media (max-width: 600px) {
    .card {
        width: 90% !important;
        justify-content: center !important;
    }

    .form-field {
        width: 100% !important;
        margin-top: 20px;
    }

    .button-wrap {
        width: 100% !important;
        margin-top: 40px !important;
    }

    .error-icon {
        vertical-align: middle;
    }

    mat-error {
        white-space: normal !important;
        word-wrap: break-word !important;
        display: block;
        line-height: 1.2;
    }

    mat-card-content {
        padding-bottom: 16px;
    }
}
